ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #fafafa;
}

.gallery img {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery {
  max-width: 1280px;
  padding: 24px 156px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  background-color: #ffffff
}

.gallery li {

  flex-basis: calc((100% - 24px * 2) / 3);
}

.list {
  border: 3px solid rgb(39, 162, 23);
  border-radius: 15px;
  max-width: 400px;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  
}

.link-item {
  text-decoration: none;
  font-weight: 600;
    font-size: 50px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #0e1212;
}

.link-item:hover {
  color: blue;
  text-decoration: underline;
}

.feedback-form {
  width: 408px;
  padding: 24px;
  border-radius: 8px;
  background: #fff;
  margin: 0 auto;
}

.label-feedback-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: block;
  margin-bottom: 8px;
}

.label-feedback-form:last-child {
  margin-bottom: 0;
}

.input-feedback-form {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  margin-top: 8px;
}

.input-feedback-form:hover {
  border: 1px solid #000;
}

.input-feedback-form:focus {
  border: 1px solid #808080;
  outline: transparent;
}

.textarea-feedback-form {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 80px;
    padding: 8px 16px;
    margin-top: 8px;
}

.button-feedback-form {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
  margin-top: 16px;
  cursor: pointer;
}

.button-feedback-form:hover {
  background: #6c8cff;
}